@media screen and (max-width: 1150px) {
	.hugeArticle {
	flex-direction: column-reverse;	
	}
	.hugeArticleImg {
		width: 100%;
		text-align: center;
	}
	.hugeArticleImg img {
		width: 96%;
	}
	.hugeArticleText {
		text-align: center;
		margin-left: 40px;
		margin-right: 40px;
	}
}
@media screen and (max-width: 946px) {
	.FourArticles {
		flex-direction: column;
	}
	.bigArticle {
		text-align: center;
	}
}
@media screen and (max-width: 882px) {
	nav ul {
		flex-direction: column;
		text-align: center;
		margin-bottom: 10px;
		padding-left: 0px;
	}
	nav ul li {
		margin-bottom: 10px;
		margin-left: 0px;
	}
	nav ul span {
		color: rgba(240, 248, 255, 0)
	}
	nav {
		background: linear-gradient(rgba(227, 227, 227, 05), rgba(159, 159, 159, 0.5));
		margin-left: 0px;
		margin-right: 0px;
	}
}
@media screen and (max-width: 877px) {
	.mainBaner {
		flex-direction: column-reverse;
	}
	.mainBanerImg {
		width: 100%;
		margin-bottom: 0px;
	}
	.mainBanerImg img {
		width: 100%;
	}
	.Xpression {
		text-align: center;
		margin-top: 0px;
		margin-bottom: 15px;
		font-size: 16px;
	}
	.Xpression h1 {
		margin-bottom: 5px;
	}
	.Xpression p {
		font-size: 16px;
	}
}
@media screen and (max-width: 915px) {
	footer {
		flex-direction: column;
     }
	.fromBlog{
		margin-left: 5%;
	} 
	.Qlinks {
		margin-left: 60%;
		margin-right: 10px;
	}
	.cDetails {
		margin-left: 5%;
	}
	.news {
		text-align: center;
	}
}
@media screen and (max-width: 703px) {
	header {
		align-items: center;
		flex-direction: column;
	}
	header ul {
		margin-right: 20px;
	}
	.search {
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 682px) {
	.threeBlocks {
		flex-direction: column;
		text-align: center;
	}
	.innerBlockFlex {
		justify-content:center;
	}
}
@media screen and (max-width: 483px){
	header {
	font-size: 10px;
    }
	header ul {
		margin-top: 20px;
	}
}